#footer {
    background-color: #333; // Cambia el color de fondo según tu preferencia
    color: #fff; // Cambia el color del texto según tu preferencia
    padding: 20px; // Ajusta el espaciado interno según sea necesario
  
    .caja-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap; // Permite que los elementos se envuelvan si el espacio es insuficiente
    }
  
    .redes {
      font-size: 24px; // Ajusta el tamaño de los íconos de las redes sociales según sea necesario
      i {
        margin-right: 10px; // Espacio entre los íconos de las redes sociales
      }
    }
  
    .nombre {
      flex-grow: 1; // Asegura que el nombre ocupe el espacio restante
      text-align: center; // Centra el texto
    }
  
    .copyright {
      text-align: center; // Centra el texto de derechos de autor
    }
  }
  
  .footer {
    background-color: #333; /* Color de fondo del footer */
    color: #fff; /* Color del texto */
    padding: 20px; /* Espacio interno */
    text-align: center; /* Centrar el contenido horizontalmente */
  }
  
  .caja-footer {
    display: flex; /* Mostrar los elementos en línea */
    flex-direction: column; /* Colocar los elementos uno encima del otro */
    align-items: center; /* Centrar verticalmente los elementos */
    position: relative; /* Posición relativa para agregar las líneas verticales */
  }
  
  .redes {
    margin-bottom: 20px; /* Espacio entre los iconos y el nombre */
  }
  
  .redes i {
    width: 30px; /* Ancho de los logos de las redes sociales */
    margin-right: 10px; /* Espacio entre los logos */
  }
  
  .nombre h3 {
    margin: 0; /* Eliminar el margen superior del nombre */
  }
  
  
  
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
  .footer {
    position: relative;
    width: auto;
    min-height: 100px;
    background-color: #3586ff;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-position-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-position-x: 0px;
    }
  }
  .footerwaves .footer {
    background-color: red /* Cambiar el color de fondo del footer a transparente */
  }