// Definir variables de colores, fuentes, etc.
$color-fondo: #ffffff; // Blanco
$color-texto: #000000; // Negro
$color-titulo:white;
$color-enlace: #ff00bf; // Negro para enlaces
$color-estrellas: yellow;
